/* Style.css for Homework1.html */

/* header, nav, section, aside, h1-h3, p, footer color: #ebebeb; */
/* background and article color: #777; */

* {
	box-sizing: border-box;
	text-align: center;
}

body {
	padding: 0;
	margin: 10px auto 10px auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	width: 960px;
	background-color: #777;

}

header {
	background-color: #ebebeb;
	color: #777;
	padding: 10px;
	text-align: center;
}

nav {
	background-color: #ebebeb;
	color: #777;
	padding-top: 30px;
	text-align: center;
	height: 75px;
}


.container {
	display: inline-block;
	width: 960px;
	background-color: #777;
	color: #ebebeb;
	border: solid 1px #777;
	overflow: hidden;
	margin-top: 0px;
	padding-top: 0px;
}

#left {
	display: inline-block;
	background color: #ebebeb;
	text-align: top;
	color: #777;
	padding: 20px 0 20px 0;
	margin-left: 0px;
	margin-top: 0px;
	width: 495px;
	border: solid 1px #777;
	position: left;
	overflow: hidden;
	clear: both;
}

#inside {
	background-color: #777;
	color: #ebebeb;
	margin-left: 15px;
	margin-top: 5px;
	width: 455;
	border: solid 1px #777;
}

#right {
	display: inline-block;
	background color: #ebebeb;
	color: #777;
	padding-top: 100px;
	margin-right: 0px;
	margin-top: 0px;
	width: 455px;
	border: solid 1px #777;
	height: 323px;
	float: right;
	clear: top;
	overflow: auto;
}

#h {
	background-color: #ebebeb;
	color: #777;
	padding: 0px;
	margin: 15px;
	text-align: center;
}

#p {
	background-color: #ebebeb;
	color: #777;
	padding: 0px;
	margin: 15px;
	text-align: center;
}

section {
	background-color: #ebebeb;
	color: #777;
	width: 425px;
	padding: 0px;
	text-align: center;
	overflow: hidden;
}

aside {
	background-color: #ebebeb;
	color: #777;
	width: 425px;
	margin-right: 0px;
	padding: 0px;
	text-align: center;
}

footer {
	margin-top: 20px;
	background-color: #ebebeb;
	color: #777;
	padding: 10px;
	text-align: center;
}